.wrap {
    background-color: #fff;
}

/* 公用 */
.sg_discount {
    background-image: url("../images/sg_discount.png");
    width: 20px;
    height: 20px;
}

/* ly1 */
.ly1 {
    padding-top: 18px;
}

/* g_slider */
.swiper-container.g_slider {
    width: 830px;
    height: 465px;
    margin: 0;
}

/* wb_detail */
.wb_detail {
    width: 354px;
    height: 464px;
    border-bottom: dashed #E7E7E7 1px;
}

.wb_detail dt.w_tit {
    font-size: 26px;
    color: #c60081;
    padding-bottom: 12px;
}

.wb_detail dd.w_item {
    text-align: justify;
    text-align-last: justify;
    line-height: 19px;
    padding: 0 6px;
}

.wb_detail dd.w_tag {
    padding-bottom: 13px;
    border-bottom: dashed #E7E7E7 1px;
}

.wb_detail dd.w_tag .sg_discount {
    vertical-align: -4px;
}

.wb_detail dd.w_pay {
    padding: 10px 12px 12px;
    border-bottom: dashed #E2E2E2 1px;
    position: relative;
}

.wb_detail dd.w_pay p {
    line-height: 37px;
    color: #c60081;
}

.wb_detail dd.w_pay p span {
    font-size: 18px;
    color: #fdd000;
    display: block;
}

.wb_detail dd.w_pay p span label {
    font-size: 48px;
    padding-right: 4px;
}

.wb_detail dd.w_pay .btnTag {
    background-color: #F5F5F5;
    line-height: 35px;
    text-align: center;
    color: #3e085c;
    padding: 0 18px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 22px;
}
.wb_detail dd.w_pay .tagBox {
    background-color: #fff;
    font-size: 12px;
    width: 294px;
    padding: 9px 14px;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    right: 0;
    bottom: -36px;
    border: solid #EEE 1px;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 5px;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
}
.wb_detail dd.w_pay .tagBox p{
    line-height: 19px;
    color: #380c6d;
}
.wb_detail dd.w_pay .tagBox.show {
    opacity: 1;
    visibility: visible;
}

.wb_detail dd.w_city {
    border-bottom: dashed #E2E2E2 1px;
}

.wb_detail dd.w_city p {
    line-height: 68px;
    font-size: 16px;
}

.wb_detail dd.w_tips {
}

.wb_detail dd.w_tips dl {
    padding: 24px 0 0 0;
}

.wb_detail dd.w_tips dt {
    width: 76px;
}

.wb_detail dd.w_tips dd {
    width: 266px;
}

.wb_detail dd.w_tips dd p {
    background: url("../images/sg_dot.png") no-repeat -2px 5px;
    padding-bottom: 6px;
    padding-left: 10px;
}

/* 出发地 */
.wb_setOut {
    background-color: #380C6D;
    color: #fff;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wb_setOut dl {
    padding: 24px 6px 0 36px;
}

.wb_setOut dt {
    font-size: 16px;
    padding-right: 22px;
}

.wb_setOut dt,
.wb_setOut dd {
    float: left;
}

.wb_setOut dt {
    line-height: 37px;
}

.wb_setOut .radio {
    font-size: 16px;
    padding: 30px 36px 0 18px;
}

.wb_setOut .radio input {
    width: 20px;
    height: 20px;
    vertical-align: -3px;
    margin-right: 20px;
}

/* 行程trip */
.wb_trip,
.wb_safe {
    background-color: #FAF8F8;
    border: solid #DDD 1px;
    position: relative;
}

.wb_trip .wb_tit,
.wb_safe .wb_tit {
    background: url("../images/sg_order_trip.png") no-repeat 36px 100%;
    font-size: 18px;
    text-indent: 66px;
    line-height: 100%;
    color: #380c6d;
    padding-top: 18px;
    margin-top: 12px;
    overflow: hidden;
}

.wb_trip .wb_time {
    margin: 45px 48px 0;
    border-top: solid #DDD 4px;
    position: relative;
}

.wb_trip .wb_time label {
    background: #FAF8F8 url("../images/sg_order_plan.png") no-repeat 15px 50%;
    font-size: 16px;
    text-indent: 2px;
    line-height: 30px;
    color: #380c6d;
    height: 30px;
    padding-left: 40px;
    padding-right: 7px;
    display: inline-block;
    position: relative;
    top: -17px;
}

.wb_trip .wb_time label a {
    font-size: 12px;
    line-height: 20px;
    padding: 0 2px;
    border: solid #380C6D 1px;
    display: inline-block;
    position: absolute;
    bottom: -18px;
    left: 45px;
}
.wb_trip .wb_time label .tag {
    background-color: #FAF8F8;
    font-size: 12px;
    line-height: 20px;
    width: 322px;
    padding: 8px 14px;
    display: inline-block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: -76px;
    left: 45px;
    border: solid #EAE8E8 1px;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
}
.wb_trip .wb_time label .tag.show {
    visibility: visible;
    opacity: 1;
}

.wb_trip .wb_time span {
    vertical-align: -3px;
    padding: 0 12px;
}

.wb_trip .wb_hotel label {
    background-image: url("../images/sg_order_hotel.png");
}

.wb_trip .wb_list {
    padding: 0 62px;
}

.wb_list_item {
    padding: 27px 1px 27px 1px;
    position: relative;
    border-bottom: dashed #DEDEDE 1px;
}

.wb_list_item .w_radio {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    position: absolute;
    left: 20px;
    top: 50%;
}

.wb_list_item .w_radio input {
    width: 20px;
    height: 20px;
}

.wb_list_item .w_date {
    text-align: center;
    line-height: 33px;
    font-size: 20px;
    width: 90px;
    height: 70px;
    padding: 0 5px;
    margin-top: -35px;
    display: block;
    overflow: hidden;
    position: absolute;
    left: 66px;
    top: 50%;
}

.wb_list_item .w_date label {
    font-size: 16px;
    line-height: 32px;
    display: block;
    border-top: dashed #DEDEDE 1px;
}

.wb_list_item .w_item {
    line-height: 30px;
    padding: 16px 32px;
    border-bottom: dashed #DEDEDE 1px;
}

.wb_list_item .w_item:last-child {
    border-bottom-width: 0;
}

.wb_list_item .w_item.tran {
    background: url("../images/bg_order_tran.png") no-repeat 50% 100%;
    padding-bottom: 32px;
    border-bottom: none;
}

.wb_list_item .w_detail {
    margin-left: 186px;
    float: left;
    border: solid #DDD 1px;
}

.wb_list_item .w_detail .w_city {
    font-size: 18px;
    text-align: center;
}

.wb_list_item .w_detail .w_city .date {
    font-size: 16px;
}

.wb_list_item .w_detail .w_time {
    background: url("../images/sg_order_go.png") no-repeat 100% 50%;
    text-align: center;
    padding: 0 60px;
    margin: 0 50px;
}

.wb_trip .wb_list_item:last-child {
    border-bottom: none;
}

.wb_list_item.show {
    padding: 26px 1px 26px 0px;
}
.wb_list_item.show .w_date{
    color: #fdd000;
}
.wb_list_item.show .w_detail{
    border-color: #FDD000;
    border-width: 2px;
}

/* 费用信息 */
.wb_pay {
    background: #fff url("../images/order_sg.png") no-repeat 0 1px;
    text-align: right;
    width: 1198px;
    height: 50px;
    padding: 1px 0;
    border-style: solid;
    border-width: 2px 1px 0 1px;
    border-color: #380C6D #DDD;
    position: relative;
}
.wb_pay.fixed {
    z-index: 299;
    position: fixed;
    top:0;
    border-bottom: solid #ddd 1px;
}

.wb_pay .w_pay {
    font-size: 18px;
    line-height: 50px;
    height: 50px;
    padding-right: 8px;
    overflow: hidden;
    display: inline-block;
}

.wb_pay .w_pay span {
    color: #fdd000;
}

.wb_pay .w_pay span b {
    font-weight: 400;
    font-size: 48px;
    vertical-align: -2px;
}

.wb_pay .w_fun {
    height: 50px;
    padding-right: 30px;
    overflow: hidden;
    display: inline-block;
}

.wb_pay .w_fun a {
    display: inline-block;
}

.wb_pay .w_fun a.btnAbout {
    background-color: #C60081;
    line-height: 18px;
    font-size: 12px;
    color: #fdd000;
    padding: 0 4px;
    margin-top: 6px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.wb_pay .w_fun a.btnDetail {
    font-size: 14px;
    color: #380c6d;
}

/* 费用明细 */
.wb_payDetail {
    padding-top: 8px;
    position: relative;
}

.wb_payDetail b.sg {
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: transparent transparent #380C6D transparent;
    position: absolute;
    right: 14px;
    top: 0;
}

.wb_payDetail .bd {
    background-color: #FAF8F8;
    width: 250px;
    /*padding-top: 12px;
    padding-bottom: 2px;*/
    border-style: solid;
    border-width: 3px 1px 0;
    border-color: #380C6D;
}

.wb_payDetail dl {
    display: none;
}

.wb_payDetail dt {
    font-size: 18px;
    font-weight: 600;
    color: #380c6d;
    padding-top: 15px;
    padding-bottom: 12px;
}

.wb_payDetail dt b {
    background-color: #380C6D;
    vertical-align: 6px;
    margin-right: 6px;
    display: inline-block;
    width: 16px;
    height: 1px;
}

.wb_payDetail dd {
    padding-left: 12px;
}

.wb_payDetail table {
    width: 100%;
}

.wb_payDetail td {
    text-align: right;
    font-size: 16px;
    padding: 10px 0;
    padding-right: 22px;
    border-bottom: dashed #E2E2E2 1px;
}

.wb_payDetail tr:last-child td {
    border-bottom-width: 0;
}

.wb_payDetail td b {
    color: #fdd000;
}

.wb_payDetail td.tit {
    width: 92px;
    padding-left: 10px;
    padding-right: 0;
}

.wb_list2 {
    padding: 15px 48px 20px 68px;
}

.wb_list2 .ui_title1 h3{
    padding: 0 8px;
    background-color:#FAF8F8;
}
.wb_trip .ui_title1 h3 a{
    background: url("../images/sg_user_arrow_t2.png") no-repeat 100% 50%;
    font-weight: 400;
    font-size: 14px;
    color: #c60081;
    padding-right: 26px;
}
.wb_list2 .ui_title1 span{
    background-color:#FAF8F8;
    border-bottom-style: dashed;
    border-bottom-color: #c60081;
}

.wb_list2 table {
    width: 100%;
}

.wb_list2 td {
    padding: 12px 0;
    border-bottom: dashed #DEDEDE 1px;
}
.wb_list2 tr:last-child td {
    border-bottom-width: 0;
}

.wb_list2 td input {
    width: 20px;
    height: 20px;
}

.wb_list2 .w_pto{
}
.wb_list2 .w_pto img {
    border-radius: 4px;
}

.wb_list2 .w_tit{
    padding-left: 44px;
}
.wb_list2 .w_tit h4 a{
    font-size: 20px;
    color: #101010;
}
.wb_list2 .w_tit h4 span{
    color: #c60081;
}
.wb_list2 .w_tit a,
.wb_list2 .w_tit span {
    padding-right:14px;
}
.wb_list2 b.sg_baby{
    background-image: url("../images/sg_order_baby.png");
    width: 30px;
    height: 30px;
    vertical-align: -10px;
}

.wb_list2 .w_pay p {
    text-align: center;
    color: #3e085c;
}
.wb_list2 .w_pay p.pay {
    font-size: 18px;
    color: #fdd000;
}
.wb_list2 .w_pay p.pay b{
    font-weight: 400;
    font-size: 26px;
}

.wb_list2 .w_fun {
    text-align: center;
}
.wb_list2 .w_fun .ui_select{
    vertical-align: -6px;
}
.wb_list2 .w_fun p{
    padding: 0 12px;
}
.wb_list2 .w_fun label{
    padding: 0 10px;
}
.wb_list2 .w_fun select{
    margin-right: 8px;
}

.wb_list2 b.sg_star1,
.wb_list2 b.sg_star2,
.wb_list2 b.sg_star3,
.wb_list2 b.sg_star4,
.wb_list2 b.sg_star5 {
    background-image: url("../images/sg_order_star.png");
    background-position: 0 50%;
    height: 30px;
    vertical-align: -10px;
}
.wb_list2 b.sg_star1{
    width: 17px;
}
.wb_list2 b.sg_star2{
    width: 43px;
}
.wb_list2 b.sg_star3{
    width: 69px;
}
.wb_list2 b.sg_star4{
    width: 95px;
}
.wb_list2 b.sg_star5{
    width: 121px;
}

/* 行程1 */
.wb_trip2,
.wb_trip3,
.wb_safe {
    margin-top: 20px;
}

.wb_payDetail {
    z-index: 99;
    position: absolute;
    right: -1px;
    top: 43px;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
}

.wb_payDetail.show .bd{
    padding-top: 12px;
    padding-bottom: 2px;
    border-bottom-width: 3px;
}
.wb_payDetail.show dl{
    display: block;
}

/* 保险 */
.wb_safe{
    font-size: 16px;
    padding-bottom: 50px;
}
.wb_safe .ui_select{
    vertical-align: -6px;
    margin: 0 10px;
}
.wb_safe .wb_tit{
    background-image: url("../images/sg_order_safe.png");
    background-position: 36px 12px;
    padding-bottom: 4px;
}
.wb_safe .w_detail{
    padding: 20px 80px 0;
}
.wb_safe .w_detail b{
    color:#ffc600;
}

.wb_safe .w_detail input[type="checkbox"]{
    vertical-align: -1px;
}

/* 提交 */
.wb_fun{
    font-size: 16px;
    line-height: 60px;
    padding: 24px;
}
.wb_fun p{}
.wb_fun label{}
.wb_fun input{
    margin-right: 10px;
    vertical-align: -1px;
}

.wb_fun .btnSub{
    background: #FDD000;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    color: #380c6d;
    cursor: pointer;
    width: 300px;
    height: 60px;
    border: none;
}








