.wrap{
    background-color: #fff;
}
/* 找回密码 */
.wb_retrieve {
    width: 420px;
    padding-bottom: 170px;
}

.wb_retrieve h3 {
    line-height: 43px;
    font-size: 24px;
    color: #3e085c;
    padding-top: 29px;
}

.wb_retrieve .tag {
    color: #380c6d;
    padding-bottom: 30px;
}

.wb_retrieve .item {
    height: 1%;
    padding-bottom: 26px;
}

.wb_retrieve .account,
.wb_retrieve .password {
    width: 330px;
}

.wb_retrieve .verCode {
    line-height: 44px;
    color: #a8a8a8;
    width: 120px;
    height: 44px;
    padding: 0 66px 0 22px;
    outline: none;
    overflow: hidden;
    border: solid #2F0D41 1px;
}

.wb_retrieve .getVerCode {
    background-color: #FDD000;
    font-size: 16px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    width: 182px;
    height: 45px;
    margin-bottom: 7px;
    border: none;
    display: block;
}

.wb_retrieve .btnSub {
    background-color: #FDD000;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    width: 420px;
    height: 45px;
    margin-bottom: 7px;
    border: none;
    display: block;
}

.wb_retrieve .ui_title1 h4 {
    font-weight: 400;
    padding-left: 22px;
    padding-right: 22px;
}
