select {
    background: url("../images/ui_textInput2_bg.png") no-repeat 0 0;
    font-size: 14px;
    height: 26px;
    padding: 0 5px;
    overflow: hidden;
    border: solid #E0E0E0 1px;
}

.wrap {
    background-color: #fff;
}
/* sidebar */
.sidebar,
.container {
    padding-top: 16px;
    padding-bottom: 38px;
}

.sidebar {
    width: 195px;
}

.container {
    width: 970px;
}

/* 旅客信息 */
.wb_userInfo {
    padding-bottom: 26px;
    border: solid #3E085D 1px;
    position: relative;
}

.wb_userInfo h3 {
    background-color: #CEC0D7;
    font-size: 16px;
    text-indent: 14px;
    line-height: 44px;
}

.wb_userInfo h4 span {
    font-size: 12px;
    padding-left: 12px;
}

.wb_userInfo h4 span b {
    color: #c60081;
}

.wb_userInfo h4 {
    font-size: 16px;
    border-bottom: solid #3E085D 1px;
}

.wb_userInfo h4 .ui_sgNum {
    vertical-align: -7px;
    margin-right: 10px;
}

.wb_userInfo .w_info {
    padding: 20px 14px 0;
}

.wb_userInfo h4 {
    padding-bottom: 8px;
}

.wb_userInfo label {
    margin-right: 8px;
}

.wb_userInfo input[type="radio"] {
    vertical-align: -1px;
    margin-right: 6px;
}

.wb_userInfo .ui_textInput2 {
    margin-right: 12px;
}

.wb_userInfo .data {
    padding-top: 20px;
}

.wb_userInfo table {
    width: 100%;
}

.wb_userInfo td {
    line-height: 37px;
    padding: 14px 0;
    position: relative;
}

.wb_userInfo td.tit {
    text-align: right;
    vertical-align: top;
    width: 104px;
    padding-right: 12px;
}

.wb_userInfo td.tit b {
    color: #c60081;
    padding-left: 6px;
}

.wb_userInfo td.tit span.CE {
    vertical-align: -8px;
    line-height: 16px;
    display: inline-block;
}

.wb_userInfo td.tit span.CE span {
    font-size: 12px;
    display: block;
}

.wb_userInfo .btnAdd,
.wb_userInfo .btnBack {
    background: no-repeat 0 50%;
    font-size: 12px;
    padding-left: 20px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.wb_userInfo .btnAdd {
    background-image: url("../images/sg_user_add.png");
    margin-top: 13px;
    left: 86px;
}

.wb_userInfo .btnBack {
    background-image: url("../images/sg_user_arrow_l3.png");
    margin-top: 45px;
    left: 46px;
}

.wb_userInfo .btnSub {
    background: #FDD000;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
    min-width: 58px;
    height: 24px;
    padding: 0 6px;
    overflow: hidden;
    border: none;
    border-radius: 3px;
    position: absolute;
    left: 125px;
    bottom: 27px;
}
